@model IEnumerable<BoardGame.Models.BoardGameModels>
@{
    ViewBag.Title = "About";
}
    <div class="jumbotron rounded-0 shadow-lg">
        <h1 class="display-4">Hello On The Board</h1>
        <p class="lead">To unlock the full capabilities of our website, log in</p>
        <hr class="my-4">
        <h2>Games:</h2>
        <div class="container">
            <div class="row m-auto">
                <div class="card col bg-primary p-2 m-2">
                    <img class="card-img-top" src="https://3.bp.blogspot.com/-PIhaQ_huZHw/WFpYY-iZVeI/AAAAAAAAC9I/W0w24xro2zwsjK-4bw4b-AUT5kG5B5YdQCLcB/s1600/www.kostkizostalyrzucone.pl_o_grach_planszowych_tajniacy_recenzja_1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title  text-white">Tajniacy</h4>
                    </div>
                </div>
                <div class="card col bg-primary p-2 m-2">
                    <img class="card-img-top" src="https://files.rebel.pl/products/100/1203/_9004/sabotazysta-1200x900-ffffff.JPG" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title  text-white">Sabotażysta</h4>
                    </div>
                </div>
                <div class="card col bg-primary p-2 m-2">
                    <img class="card-img-top" src="https://info.znadplanszy.pl/wp-content/uploads/sites/42/2016/06/potworywtokio-okladka-1030x1030.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title text-white">Potwory w Tokio</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


