@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/style.css")
@{
    Layout = "";
}


@*<div class="jumbotron">
        <h1>OnTheBoard</h1>
        <p class="lead">
            Witaj na planszy. Szukasz nowej gry na wieczór ze znajomymi? A może nie masz z kim grać i szukasz drużyny?
            Mamy nadzieję że zostaniesz na dłużej i znajdziesz wszystko czego potrzebujesz.
        </p>
    </div>*@
    
    <div class="intro">
        <p>
            Hello on the board. Are you looking for a new game for an evening out with friends? Or maybe you don't have anyone to play with and you are looking for?
            I hope you will stay longer and find everything you need.
        </p>
        <a href='@Url.Action("Index", "UserModel")'>
            @*<img class="logo" src="@Url.Content("~/Content/Images/logo.png")" />*@

            <button class="logo">JOIN US</button>
        </a>

    </div>
    

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@